.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: var(--page-max-width);
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.title {
    width: fit-content;
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-green) 50%, var(--color-pink) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: balance;
}

.description {
    font-size: 1.25rem;
    color: var(--color-scale-4);
}

@media only screen and (max-width: 768px) {
    .main {
        padding-top: 1rem;
        padding-bottom: 5rem;
    }
}