.visit {
    color: var(--color-scale-3)
}

.visitSkeleton {
    color: var(--color-scale-3);
    counter-set: num var(--num);
    animation: counter 3s infinite alternate ease-in-out;
}

.visitSkeleton::before {
    content: counter(num);
    margin-right: 0.25rem;
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: 1000;
    }
}