@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.visit {
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-green) 50%, var(--color-pink) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.visitSkeleton {
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-green) 50%, var(--color-pink) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    counter-set: num var(--num);
    animation: counter 3s infinite alternate ease-in-out;
}

.visitSkeleton::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: 1000;
    }
}