.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.wrapper:nth-child(3n+1)>.author {
    color: var(--color-blue);
}

.wrapper:nth-child(3n+2)>.author {
    color: var(--color-green);
}

.wrapper:nth-child(3n+3)>.author {
    color: var(--color-pink);
}

.author {
    color: var(--color-scale-3);
}

.content {
    color: var(--color-scale-4);
}

.separator {
    position: relative;
    flex: 1 1 0;
}

.date {
    color: var(--color-scale-3);
}

.separator::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--color-scale-3);
    animation: fadeIn .5s ease 0s 1 normal forwards running;
}

.skeleton {
    width: 100%;
    height: 1.25rem;
    border-radius: .25rem;
}

@keyframes fadeIn {
    0% {
        background: transparent;
    }

    50% {
        background: var(--color-scale-3);
    }

    100% {
        width: 100%;
        background: var(--color-scale-3);
    }
}