.card {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color: var(--color-scale-1);
    padding: 1rem;
    outline: 1px solid var(--color-scale-2);
    border-radius: .25rem;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    animation: changeOutlineColor 60s linear infinite;
}

.cardSection {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.icon {
    color: var(--color-scale-3);
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-scale-4);
}

.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informationText {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-scale-3);
}

.description {
    font-size: 1rem;
    color: var(--color-scale-4);
}

.stack {
    font-size: .75rem;
    color: var(--color-scale-3);
    font-weight: 600;
}

.stacks {
    font-weight: 400;
}

.card:hover > .cardSection > .information > .informationText {
    animation: changeTextColor 60s linear infinite;
}

.card:hover > .cardSection > .stack {
    animation: changeTextColor 60s linear infinite;
}

.card:hover > .cardSection > .icon {
    animation: changeTextColor 60s linear infinite;
}

@keyframes changeOutlineColor {
    0% {
        outline-color: var(--color-blue);
    }

    25% {
        outline-color: var(--color-pink);
    }

    50% {
        outline-color: var(--color-blue);
    }

    75% {
        outline-color: var(--color-green);
    }

    100% {
        outline-color: var(--color-blue);
    }
}

@keyframes changeTextColor {
    0% {
        color: var(--color-blue);
    }

    25% {
        color: var(--color-pink);
    }

    50% {
        color: var(--color-blue);
    }

    75% {
        color: var(--color-green);
    }

    100% {
        color: var(--color-blue);
    }
}