.table {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.header {
    text-align: left;
    padding: 1rem;
    background-color: var(--color-scale-2);
    color: var(--color-scale-3);
    border-top: 1px solid var(--color-scale-3);
    border-bottom: 1px solid var(--color-scale-3);
}

.header:not(:last-child) {
    border-right: 1px solid var(--color-scale-3);
}

.header:first-child {
    border-left: 1px solid var(--color-scale-3);
    border-radius: .25rem 0 0 0;
}

.header:last-child {
    border-right: 1px solid var(--color-scale-3);
    border-radius: 0 .25rem 0 0;
}

.cell {
    word-wrap: break-word;
    color: var(--color-scale-4);
    border-bottom: 1px solid var(--color-scale-3);
    padding: 1rem;
}

.cell:not(:last-child) {
    border-right: 1px solid var(--color-scale-3);
}

.cell:first-child {
    border-left: 1px solid var(--color-scale-3);
}

.cell:last-child {
    border-right: 1px solid var(--color-scale-3);
}

.row:last-child>.cell:last-child {
    border-right: 1px solid var(--color-scale-3);
    border-radius: 0 0 .25rem 0;
}

.row:last-child>.cell:first-child {
    border-left: 1px solid var(--color-scale-3);
    border-radius: 0 0 0 .25rem;
}